body
{
	margin: 0px;
	padding: 0px;
	background-image: url(../IMAGES/wood.jpg);
	background-repeat: round;
}
.card
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #fff;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 100px rgba(0,0,0,.5);
	transition: 1s;
}
.card:hover
{
	transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}
.card:before
{
	content: ' ';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #855E42;
	transform-origin: bottom;
	transform: skewX(45deg); 
}
.card:after
{
	content: ' ';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #C19A6B;
	transform-origin: left;
	transform: skewY(45deg);
}
.card .imgBox
{
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: 1s;
}
.card:hover .imgBox
{
	transform: rotateY(-135deg);
}
.image
{
	width: 300px;
	height: 400px;
}
.card .menu
{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 20px;
	z-index: -1;
}