*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body
{
	font-size: 20px;
	overflow-x: hidden;
}
header
{
	background-image: url('../IMAGES/one.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.clearfix:after
{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row
{
	max-width: 1180px;
	margin: 0 auto;
}
.logo
{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
	border-radius: 50%;
}
.main-nav
{
	float: right;
	margin-top: 60px;
}
.main-nav li
{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}
.main-nav li a
{
	padding: 5px 0px;
	color: white;
	text-decoration: none;
	font-size: 90%;
	font-weight: 900;
}
.main-nav li a:hover
{
	border-bottom: 2px solid #FF8C00
}
.main-content-header
{
	width: 1180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Pacifico', cursive;
}
h1
{
	color: white;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
}
.btn
{
	display: inline-block;;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full
{
	background-color:#000000;
	color: 	 #F0FFFF;
	font-weight: 900;
	margin-right: 15px;
	border:1px solid #000000;
}
.btn-full:hover
{
	background-color:#F0FFFF;
	color:  #000000;
	font-size: 120%
}
.colorchange
{
	animation: colorchangepizzera 1s infinite;
}
@keyframes colorchangepizzera
{
	0%{color:#F0FFFF;}
	25%{color:#FF8C00;}
	50%{color:#FF1493;}
	75%{color:#F0FFFF;}
	100%{color:#00CED1;}
}
.mobile-icon
{
	display: none;
}
@media only screen and (max-width:1180px)
{
	.main-content-header
	{
		width: 100%;
	}
}
@media only screen and (max-width:980px)
{
	h1
	{
		font-size: 200%;
	}
}
@media only screen and (max-width:860px)
{
	h1
	{
		font-size: 180%;
	}
}
@media only screen and (max-width:768px)
{
	h1
	{
		font-size: 150%;
	}
	.main-nav
	{
		display: none;
	}
	.mobile-icon
	{
		display: inline-block;
		color: #F0FFFF;
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}
	.main-nav
	{
		float: right;
	}
	.main-nav li
	{
		display: block;
		margin-top: 10px;
	}
}
@media only screen and (max-width:480px)
{
	.btn-full
	{
		margin-bottom: 20px;
	}
	h1
	{
		font-size: 150%;
	}
}
