body
{
	margin: 0;
	padding: 0;
}
body:before
{
	content: ' ';
	position: fixed;
	width: 100vw;
	height: 200vh;
	background-image: url(../IMAGES/four.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size:cover;
}
.contact-form
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	padding: 80px 40px;
	background: rgba(0,0,0,0.6);
}
.pizza
{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-80px/2);
	left: calc(50% - 40px);
}
.contact-form h2
{
	margin: 0px;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
}
.contact-form p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.contact-form input
{
	width: 100%;
	margin-bottom:20px;
}
.contact-form input[type=email],
.contact-form input[type=password]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height:35px;
	color: #fff;
	font-size: 15px;
}
.contact-form input[type=button]
{
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
	margin-top: 15%;
}
.contact-form input[type=button]:hover
{
	font-size: 105%;
}
